:root{
     --fuentePrincipal: "Oswald", sans-serif;
    --fuenteSecundaria: "Nunito", sans-serif;
    
    --oscuro: #1f192f;
    --azul: #2d6073;
    --verde:#65b8a6;
    --verde_claro:#b5e8c3;
    --claro:#e5e6fa;
    --sombrita: #4a3d72;
}/**/

/*--------------------Globales-----------------------*/
html{
    box-sizing: border-box;
    font-size: 62.5%;
}

*, *:before, *:after{
    box-sizing: inherit;
}
body{
    font-family: var(--fuenteSecundaria);
    font-size: 1.6rem;
    line-height: 2;
    background-color: var(--oscuro);
}

/*------------------Utilidades---------------------------*/
.container{
    max-width: 120rem;
    width: 90%;
    margin: 0 auto;
}
.separator {
    border-top: 1px solid var(--sombrita); 
    width: 99%;
    display: flex;
    justify-content: center;
}
a{
    text-decoration: none;
}
h1, h2, h3, h4{
    font-family: var(--fuentePrincipal);
}
h1{
    font-size: 4.8rem;
}
h2{
    font-size: 4rem;
}
h3{
    font-size: 3.2rem;
}
h4{
    font-size: 2.8rem;
}
img{
    max-width: 100%;
}
p{
    font-family: var(--fuenteSecundaria);
}
.no-margin{
    margin: 0 0 0 0;
}
.no-padding{
    padding: 0;
}
.center-text{
    text-align: center;
}

/*-----------------------------Barra de Navegacion----------------------*/
.nav_bg{
    display: block;
    background: rgba( 255, 255, 255, 0.55 );
    box-shadow: 0 8px 32px 0 var(--sombrita);
    position: absolute;
    margin-right: 0;
    margin-top: .5rem;
    border-radius: 2rem;
    padding: 1.5rem;
    height: 6rem;
    width: 100%;
}
@media(min-width: 700px){
    .nav_bg{
        position: fixed;
        width: 70%;
        height: 8rem;
        z-index: 1;
        margin-top: 2rem;
        right: 0;
        margin-right: 5rem;
        padding: 2.5rem;
    }
}
.nav{
display: flex;
    justify-content: space-around;
    align-items: center; 
    width: 100%; 
}

.nav__link {
    font-family: var(--fuentePrincipal);
    color: var(--sombrita);
    will-change: transform;
    font-weight: 800;
    font-size: 1.7rem;
    transition: transform 0.15s ease, background-color 0.15s ease, color 0.15s ease, box-shadow 0.15s ease, border-radius 0.15s ease, padding 0.15s ease;
}

.nav__link:hover {
    background: rgba( 255, 255, 255, 0.55 );;
    box-shadow: 0 8px 32px 0 var(--claro);
    transform: translateY(-0.1em);
    border-radius: 1rem;
    padding: 0 2rem ;
    transition-delay: 50ms;
    position: relative; 
    top: -0.2em; 
}


  

.container_lenguaje {
    width: 15%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav_item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.nav__lenguaje {
    color: var(--sombrita);
    font-family: var(--fuenteSecundaria);
    will-change: transform;
    font-weight: 900;
    font-size: 1.7rem;
    transition: transform 0.15s ease, background-color 0.15s ease, color 0.15s ease, box-shadow 0.15s ease, border-radius 0.15s ease, padding 0.15s ease;
    padding: 0 2rem; 
    border-radius: 1rem;
}

.nav__lenguaje:hover {
    background: rgba( 255, 255, 255, 0.55 );;
    box-shadow: 0 8px 32px 0 var(--claro);
    position: relative; 
    top: -0.3em; /* Mover el elemento hacia arriba */
    border-radius: 1rem;
    padding: 0 2rem; /* Asegurarse de que el padding sea constante */
    transition-delay: 0.9ms;
}

/*-------------------Left-column---------------------------------*/
.left_column{
    height: auto;
    margin: 2rem;
    padding: 2rem;
    border-radius: 20px;
    background: rgba( 255, 255, 255, 0.55 );
    box-shadow: 0 8px 32px 0 var(--sombrita);
    color: #34344e;
    position: absolute; 
    top: 19%; 
    z-index: 1;
}
@media(min-width: 700px){
    .left_column{
        width: 22%;
        position: fixed;
        top: 61.5%; 
        transform: translateY(-50%);
        height: autox;
        left: 20px; 
        z-index: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
.image-profile {
    height: 0px;
    visibility: hidden;

}
@media(min-width: 780px){
    .image-profile{
        margin: -75% 10% 0 10%;
        width: 65%;
        height: auto;
        box-shadow: 0 8px 32px 0 var(--sombrita);
        border-radius: 51% 49% 70% 30% / 30% 30% 70% 70%   ; 
        visibility: inherit;
    }
}
.name{
    text-align: center;
    font-size: 2rem;
}
.sft{
    text-align: center;
    font-size: 1.7rem;
    font-weight: 400;
    margin-bottom: 2rem;
    background: rgba( 255, 255, 255, 0.3 );
    border-radius: 1rem;
    padding: 0 1rem 0 1rem;
}
.grid-icons{
    margin-top: -1rem;
    margin-bottom: -1rem;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: auto;
    justify-content: space-between;
}
.icon {
    will-change: transform;
    height: 4.9rem;
    transition: transform 0.15s ease, background-color 0.15s ease, color 0.15s ease, box-shadow 0.15s ease, border-radius 0.15s ease, padding 0.15s ease;
    border-radius: 1rem;
}
.icon:hover {
    background: rgba( 255, 255, 255, 0.55 );
    color: var(--claro);
    box-shadow: 0 8px 32px 0 var(--claro);
    position: relative; 
    top: -0.3em; /* Mover el elemento hacia arriba */
    border-radius: 1rem;
    padding: .5rem; /* Asegurarse de que el padding sea constante */
    transition-delay: 0.9ms;
}




.grid{
    display: grid;
    width: 99%;
    grid-template-columns: auto 2fr;
    grid-template-rows: repeat(3, auto);
    background: rgba( 255, 255, 255, 0.3 );
    border-radius: 2rem;
    padding: 2rem;
    column-gap: 1rem;
    row-gap: 1.5rem ;

}
.telefono{
    display: grid;
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    flex-direction: column;
    margin-bottom: 1rem;
}
.Gmail{
    display: grid;
    grid-row:2 / 3 ;
    grid-column: 2 / 3;
    margin-bottom: 1rem;
}
.location{
    display: grid;
    grid-row: 3 / 4;
    grid-column: 2 / 3;
    margin-bottom: 1rem;
}
.text{
    font-size: 1.6rem;
    font-weight: 500;
    margin-top: -1rem;
    margin-bottom: -0.6rem;
}
.info{
    font-size: 1.3rem;
    margin-top: -0.5rem;
    margin-bottom: -0.5rem;
}


.icon-cel{
    display: grid;
    grid-row: 1 / 2;
    grid-column: 1 / 2;
}
.icon-email{
    display: grid;
    grid-row: 2 / 3;
    grid-column: 1 / 2;
}
.icon-location{
    display: flex;
    grid-row: 3 / 4;
    grid-column: 1 / 2;
}


.cv {
    background-color: var(--sombrita);
    color: var(--claro);
    padding: .5rem 3rem;
    will-change: transform;
    transition: transform 0.15s ease, background-color 0.15s ease, color 0.15s ease, box-shadow 0.15s ease, border-radius 0.15s ease, padding 0.15s ease;
    border-radius: 1rem;
    margin-top: 2rem ;
}

  
.cv:before {
    content: "";
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    z-index: -1;
    background: #4a3d72;
    background-size: 400%;
    border-radius: 1rem;
    transition: 1s;
}
  
.cv:hover::before {
    filter: blur(10px);
}
  

/*----------------------------------------Main-----------------------*/
.main{
    margin: 2rem;
    position: absolute;
    top: 62rem;
    color: var(--claro);
    max-width: 100%;
}

@media(min-width: 700px){
    .main{
        max-width: 70%;
        right: 0%;
        top: 10rem;
        margin-right: 3rem;
    }
}
/*---------------------------------footer-----------------------------*/





